<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>554865125623-nuro3tlkkgj3c35lsmrscs6t1vf4mcqd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.554865125623-nuro3tlkkgj3c35lsmrscs6t1vf4mcqd</string>
	<key>API_KEY</key>
	<string>AIzaSyDiDS6qTZV2-TSPxFxTCfQ-neQIiJyJSkA</string>
	<key>GCM_SENDER_ID</key>
	<string>554865125623</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.FamilyApp</string>
	<key>PROJECT_ID</key>
	<string>familyapp-615a5</string>
	<key>STORAGE_BUCKET</key>
	<string>familyapp-615a5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:554865125623:ios:cb2fe4a025d21f796c0bf2</string>
</dict>
</plist>